extends ../layout

block content
  h2(class=['subtitle-header'])= pageName
  section
    h1= 'Options'
    a(href='/mails/new')= 'Create a new email'
  section
    h1= 'Existing emails'
    ul
      each mail in mails
        li= mail.subject
          a(href='/mails/details?subject='+mail.subject)
            img(src='/images/edit-icon.png', height='16', width='16')
          a(href='/mails/send?subject='+mail.subject)
            img(src='/images/email-icon.png', height='16', width='16')
